body {
  background-image: url("https://picstatio.com/large/jaj5br/Hubble_Deep_Space_Nebula_4K_Ultra_HD_Desktop_Wallpaper.jpg");
}

#lang1, #lang2, #lang3 {
  display: none;
  color: aqua;
  text-align: center;
}

#invalid {
  display: none;
  color:yellow;
  text-align: center;
}